@import url('https://fonts.googleapis.com/css?family=Aldrich|Press+Start+2P');

* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;

 }

header, footer{
    position: relative;
    padding: 10px;
}

footer p{
    padding: 20px;
    text-align: center;
    font-size: 15px;
}
nav {
    position: relative;
    right: 20px;
    top: auto;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    font-family: 'Aldrich', sans-serif;
    font-size: 15px;
    background: grey;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
    color: yellow;
    border-radius: 30px;
}

nav a:hover {
    background: #48ACF0;
    color: #F1E9DB;
}
body {
    background-color: black;
    display: block;
    }

h1 { 
    font-size: 30px;
    color: blue;
    text-align: center;
}
 p, li {
    font-size: 20px;
    color: yellowgreen;
    text-align: center;
    list-style: none;
}

div ul {
    list-style: none;
}
.flexcontainer {
    display: flex;
    flex-wrap: nowrap;
}

.flexcontainer li {
    line-height: 20px;
    padding: 20%;
}
.flexcontainer > div {
    width: 20%;
    margin: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.flexcontainer img {
    border-radius: 50%;
    width: 220px;
}

.hover {
    background-color: blue;
    font-size: 12px;
    padding: 20px;
    display: none;
}
    
span:hover + .hover {
    display: block;
}
        
span: hover + div {
    display: block;
}
.bioprofilepic  {
    border-radius: 50%;
    display: block;
    margin-top: 100px;
    padding-top: 100;

}

.bioprofilepic img {
    align-content: center;
}

 