@import url('https://fonts.googleapis.com/css?family=Aldrich|Press+Start+2P');

* {
    box-sizing: border-box;
    font-family: 'Aldrich', sans-serif;
    padding: 0;
    margin-bottom: 0;
 }

header, footer{
    position: relative;
    padding: 10px;
}

footer p{
    padding: 20px;
    text-align: center;
    font-size: 15px;
}
nav {
    position: relative;
    right: 20px;
    top: auto;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a, input[type="submit"] {
    font-size: 15px;
    background: #F1E9DB;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
    color: #716A5C;
    border-radius: 30px;
}

nav a:hover, input[type="submit"]:hover{
    background: #48ACF0;
    color: #F1E9DB;
}
body {
    background-image: linear-gradient(
        rgba(70,99,101,0),
        rgba(70,99,101,0.6)), 
        url("../img/contactbackground1.png");
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    
    }


h1, h2,  {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    text-align: center
}



input, textarea{
    background: transparent;
    border-bottom-color: beige;
    border-left: none;
    border-top: none;
    border-right: none;
}

input [type="submit"]{
    
}
#container {
    max-width: 900px;
    max-height: auto;
    margin: 20px auto;
    border: 1px solid: #000;
    align-content: center;
}

form {
    margin-left: 100px;
    margin-right: 60px;
    width: auto;
    
}

#biobackground {
    background-color: black;
}

