
@import url('https://fonts.googleapis.com/css?family=Aldrich|Press+Start+2P');

* {
    box-sizing: border-box;
    font-family: 'Aldrich', sans-serif;
 }

h2{
    font-family: 'Aldrich', sans-serif;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}